// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
$fa-font-path: "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
.dropdown-menu {
    min-width: 17rem;
}

.pagination {
    margin-top: 10px
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sidebar-dark-primary {
    background-color: #1e407f;
    background: linear-gradient(to right, #34589b, #1e407f);
}

.brand-image {
    max-height: 50px;
}

.form-group {
    &.has-errors {
        input {
            border: 1px solid rgb(228, 21, 21);
        }
        small {
            color: rgb(228, 21, 21);
        }
    }
}

.card-header>.card-tools {
    right: 9rem;
    top: 0.5rem;
}

.addUser {
    position: absolute;
    right: 1em;
    top: 0.5em;
}

.cRole {
    position: relative;
    .form-role {
        position: relative;
    }
    a {
        position: absolute;
        right: 12px;
        top: 7px;
        font-size: 15px;
    }
}

.form-group.has-errors input {
    border: 1px solid #fa4531;
}

.form-group.has-errors textarea {
    border: 1px solid #fa4531;
}

.form-group.has-errors select {
    border: 1px solid #fa4531;
}

.invalid-feedback {
    display: inline-block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}