<template>
    <div class="ar">
        <div class="ar__overlay" v-if="isUploading"></div>
        <div class="ar-spinner" v-if="isUploading">
            <div class="ar-spinner__dot"></div>
            <div class="ar-spinner__dot"></div>
            <div class="ar-spinner__dot"></div>
        </div>
        <div class="ar-content" :class="{'ar__blur': isUploading}">
            <timer :count-down=countDown :upload-file="uploadStatus" v-show="isTimer"></timer>
            <div class="ar-recorder__duration">
          <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" :style="`width: ${progressbar}`" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
               <span id="time">Time  {{recordedTime}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import AudioPlayer from './../../components/Recorder/player.vue'
    import IconButton from './../../components/Recorder/icon-button.vue'
    import Timer from './../../components/Timer.vue'
    import Recorder from './../../lib/recorder'
    import Uploader  from './../../components/Recorder/uploader'
    import UploaderPropsMixin from './../../mixins/uploader-props'
    import {convertTimeMMSS,beepSound} from './../../lib/utils'
    export default {
        mixins: [UploaderPropsMixin],
        props: {
            attempts: {
                type: Number
            },
            time: {
                type: Number
            },
            bitRate: {
                type: Number,
                default: 128
            },
            sampleRate: {
                type: Number,
                default: 44100
            },
            showTimer: {
                type: Boolean,
                default: false
            },
            micFailed: {
                type: Function
            },
            beforeRecording: {
                type: Function
            },
            pauseRecording: {
                type: Function
            },
            afterRecording: {
                type: Function
            },
            failedUpload: {
                type: Function
            },
            beforeUpload: {
                type: Function
            },
            successfulUpload: {
                type: Function
            },
            selectRecord: {
                type: Function
            },
            startAfter: {
                type: Number,
                default: 30
            },
            timeEnd: {
                type: Number,
                defatult: 40
            },
            uploadUrl: {
                type: String,
                default: '/answers/'
            }
        },
        data() {
            return {
                isUploading: false,
                recorder: this._initRecorder(),
                recordList: [],
                selected: {},
                uploadStatus: null,
                setTime: this.startAfter,
                setTimer: null,
                progressbar:'0%',
            }
        },
        components: {
            AudioPlayer,
            IconButton,
            Timer
        },
        mounted() {
            this.start();
            this.$eventBus.$on('StartRecording', () => {
                this.recorder.start();
            })
            this.$eventBus.$on('start-uploading',()=>{
                this.isUploading=true;
            })
            this.$eventBus.$on('hasUploaded', () => this.isUploading = false);
            this.$eventBus.$on('ResetTimer', () => {
                this.setTimer = null;
                this.setTime = this.startAfter;
                this.stopRecorder();
            })
            this.$eventBus.$on('end-upload', (msg) => {
                this.isUploading = false
                if (msg.status === 'success') {
                    this.successfulUpload && this.successfulUpload(msg.response)
                } else {
                    this.failedUpload && this.failedUpload(msg.response)
                }
            });
        },
        beforeDestroy() {
            this.stopRecorder();
        },
        methods: {
            progressBarCounter() {
                var progressTime =0;
                var self=this;
                let interval = setInterval(function () {
                    progressTime++;
                    var recording_duration=self.timeEnd;
                    var percent =parseInt(((progressTime / recording_duration) * 100));
                    self.progressbar =  parseInt(percent) + '%';
                    if (progressTime > recording_duration)
                      {
                        clearInterval(interval);
                     }
                }, 1000);
            },
            start() {
                if (!this.setTimer) {
                    this.setTimer = setInterval(() => {
                        if (this.setTime > 0) {
                            this.setTime--;
                        } else {
                            clearInterval(this.setTimer)
                            this.stop();
                            beepSound();
                            this.$eventBus.$emit('enable-next');
                            this.recorder.start();
                            this.setTime = 0;
                            this.progressBarCounter();
                        }
                    }, 1000)
                }
            },
            stop() {
                clearInterval(this.setTimer)
                this.setTimer = null;
            },
            toggleRecorder() {
                if (this.attempts && this.recorder.records.length >= this.attempts) {
                    return
                }
                if (!this.isRecording || (this.isRecording && this.isPause)) {
                    this.recorder.start()
                } else {
                    this.recorder.pause()
                }
            },
            stopRecorder() {
                if (!this.isRecording) {
                    return
                }
                this.recorder.stop();
                
                this.recordList = this.recorder.recordList();
                this.$eventBus.$emit('start-uploading',this.recordList);
               
                if (this.showAudioPlayer) {
                    this.selected = this.recorder.recordList();

                }
                this.uploadStatus = true;

            },
            _initRecorder() {
                return new Recorder({
                    beforeRecording : this.beforeRecording,
                    afterRecording  : this.afterRecording,
                    pauseRecording  : this.pauseRecording,
                    micFailed       : this.micFailed,
                    bitRate         : this.bitRate,
                    sampleRate      : this.sampleRate,
                    format          : 'wav'
                })
            },
            resetTime() {
                this.setTime = this.startAfter;
                this.start();
            }
        },
        computed: {
            showButton() {
                if (this.showPlayButton) {
                    return true;
                }
                return false;
            },
            isTimer() {
                if (this.showTimer) {
                    return true;
                }
                return false;
            },
            countDown() {
                return this.setTime;
            },
            isAudioPlayer() {
                if (this.showAudioPlayer) {
                    return true;
                }
                return false;
            },
            attemptsLeft() {
                return this.attempts - this.recordList.length
            },
            iconButtonType() {
                return this.isRecording && this.isPause ? 'mic' : this.isRecording ? 'pause' : 'mic'
            },
            isPause() {
                return this.recorder.isPause
            },
            isRecording() {
                return this.recorder.isRecording
            },
            recordedTime() {
                if (this.timeEnd && (this.recorder.duration >= this.timeEnd)) {
                    this.stopRecorder()
                }
                return convertTimeMMSS(this.recorder.duration)
            },
            volume() {
                return parseFloat(this.recorder.volume)
            }
        },
        watch: {
            'startAfter': 'resetTime'
        },
    }

</script>

<style lang="scss" scoped>
    .ar {
        width: 420px;
        font-family: 'Roboto', sans-serif;
        border-radius: 16px;
        background-color: #FAFAFA;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.17);
        position: relative;
        box-sizing: content-box;

        &-content {
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-recorder {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__duration {
          color: #AEAEAE;
          font-size: 18px;
          font-weight: 500;
          margin-top: 20px;
          margin-bottom: 16px;
          width: 80%;
            }
        }

        &-spinner {
            display: flex;
            height: 30px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 144px;
            z-index: 10;

            &__dot {
                display: block;
                margin: 0 8px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                background: #05CBCD;
                animation-name: blink;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;

                &:nth-child(2) {
                    animation-delay: .2s;
                }

                &:nth-child(3) {
                    animation-delay: .4s;
                }

                @keyframes blink {
                    0% {
                        opacity: .2;
                    }

                    20% {
                        opacity: 1;
                    }

                    100% {
                        opacity: .2;
                    }
                }
            }
        }
        &__blur {
            filter: blur(2px);
            opacity: 0.7;
        }

        &__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        &__upload-status {
            text-align: center;
            font-size: 10px;
            padding: 2px;
            letter-spacing: 1px;
            position: absolute;
            bottom: 0;

            &--success {
                color: green;
            }

            &--fail {
                color: red;
            }
        }
    }
</style>
