<template>
    <li class="nav-item dropdown">
        <a class="nav-cart dropdown-toggle" href="#" id="cartDropdown" @click="getCart()" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:34589b;">
            <i class="fas fa-cart-plus larger"><span class="badge badge-danger navbar-badge" v-if="count>0" v-text="count"></span></i>
        </a>
        <div class="dropdown-menu" v-if='cart.length>0' aria-labelledby="cartDropdown">
            <table class="table table-hover" v-show="!loading">
              <div class="dropdown-item mx-0 px-0" aria-labelledby="cartDropdown" id='cartWrapper' v-if="cart.length>0">
                <tbody>
                  <tr v-for="set in cart" :key="set.id" class="min">
                    <td>{{set.question_set_name}}</td>
                    <td>$ {{set.question_set_price}}</td>
                    <td id="remove"><i class="fa fa-times" @click.prevent='removeItem(set.id)' data-toggle='tooltip' title="remove"></i></td>
                  </tr>
                </tbody>
              </div>
            </table>
            <div class="dropdown-item"  v-if="loading">
                <small-loader />
                <div class="dropdown-divider"></div>
            </div>
            <div class='row mx-auto min' v-if="!loading">
              <div class="col-6"><a href="#" class="btn btn-sm btn-outline-danger" :class='{disabled:loading}' @click.prevent="clearCart()">Clear Cart</a></div>
              <div class="col-6"><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#checkout" :class='{disabled:loading}' @click.prevent="$eventBus.$emit('checkout-loaded')">Checkout</button></div>
            </div>
        </div>
        <div class="dropdown-menu" v-else v-show="!loading" aria-labelledby="cartDropdown">
            <div class="dropdown-item">Your Cart is Empty.</div>
        </div>
    </li>
</template>

<script>
  import _ from 'lodash';
  export default {
    data() {
      return {
        cart:{},
        count:0,
        loading: false,
      };
    },
    methods:{
      check:_.debounce(() => {
                this.getCart();
                this.getCartCount();
            }, 200),
      getCart(){
        this.loading = true;
        this.getCartCount();
        axios.get('/getCart')
             .then(response => {
               this.cart = response.data;
               this.loading = false;
             }).catch(error => {
               this.loading = false;
             });
      },
      getCartCount(){
        axios.get('/getCartCount')
             .then(response => {
               this.count = response.data;
             }).catch();
      },
      removeItem(id){
        axios.get('/removeFromCart',{
          params:{
            set_id:id
          }
        }).then(response => {
          setTimeout(() => {
            document.getElementById('btn-unlock'+id).innerHTML = '<i class="fas fa-unlock"></i> Unlock';
            document.getElementById('btn-unlock'+id).style.display= 'block';
            document.getElementById('btn-checkout'+id).style.display= 'none';
          }, 0);
            this.getCartCount();
            Toast.fire({
                      type: 'success',
                      title: 'Item Successfully removed'
                    })
          }).catch();
      },
      clearCart(){
        axios.get('/resetCart').then(response => {
          this.getCartCount();
          location.reload();
          Toast.fire({
                      type: 'success',
                      title: 'Your cart is empty now.'
                    })
        }).catch();
      }
    },
    mounted() {
       this.$eventBus.$on('addtocart',()=>{
         this.getCart();
        });
      this.getCart();
    },
  }
</script>

 
<style scoped>
.larger{
  font-size:larger;
}
.nav-cart{
  color: #333;
  padding: 0px 5px 0px 3px ;
}
.badge-danger{
color: #fff;
    background-color: #dc3545;
    border-radius: 50px;
    font-size: 10px;
    position: absolute;
    top: -13px;
    left: -9px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 4px;
}

a:hover{
  color: #444;
}
#remove{
  cursor:pointer;
}
#cartWrapper{
  padding: 0;
}
.min{
  min-width: 200px;
}
</style>