<template>
    <div class="card">
      <div class="modal-header text-center text-uppercase">
        <h5 class="modal-title">Checkout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body pt-0">
        <div class="" v-if='items.length>0'>
          <table class="table checkout">
            <thead>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
              <div class="clearfix"></div>
              <tbody>
                    <tr v-for='item in items' :key="item.id">
                      <td>{{item['question_set_name']}}</td>
                      <td>${{item['question_set_price']}}</td>
                      <td id="remove"><i class="fa fa-times" @click="removeItem(item['id'], $event)" title="Remove" data-toggle="tooltip"></i></td>
                    </tr>
                <tr>
                  <td class="text-right pr-5" id="total"><b><u>Total</u></b></td>
                  <td>${{total}}</td>
                  <td></td>
                </tr>
                <div class="clearfix"></div>
              </tbody>
          </table>
          <div class="text-right pt-5">
            <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
            <a class="btn btn-primary ml-1 mr-5" href="/checkout" >Checkout<i class="fab fa-paypal"></i></a>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" v-if="items.length==0">
          <h4 class="alert-heading">The Cart is Empty</h4>
          <p>There are no Items in the cart.</p>
        </div>
      </div>
    </div>
</template>


<script>
  export default {
    data() {
      return {
        items: [],
      }
    },
    methods:{
      removeItem(itemID){
        axios.get('/removeFromCart?set_id='+itemID)
        .then(res => {
            this.items = res.data;
          }
        )
      },
      getItems(){
        axios.get('/getCart').then(response=> this.items = response.data).catch();
      }
    },
    computed: {
      total(){
        let total = 0;
        this.items.forEach(item=>{
            total += item.question_set_price;
        });
        return total;
      }
    },
    created(){
      this.getItems();
      this.$eventBus.$on('checkout-loaded',()=>{
       this.getItems();
      })
    }
  }
</script>

<style scoped>
.checkout>thead>tr>th{
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 2px;
}

.checkout>thead{
  padding: 5px;
}

.checkout>tbody>tr>td{
  font-size: 1rem;
  font-weight: 300;
  padding: 5px 0px;
}
#total{
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px 10px;
}

#remove{
  cursor: pointer;
}
</style>