<template>
<div>
<a href="#" class="forgot-pass-a" data-toggle="modal"  data-target="#forgot-password">Forgot Password?</a>  
  <div class="modal fade" id="forgot-password" tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="forgetpass">
            <form @submit.prevent="handleSubmit()">
              <h3>
                <i class="fas fa-lock"></i>Forgot Password
              </h3>
              <p class="success" v-show="hasSucessMessage">{{message}}</p>
              <div :class="errors.email_address ? ' form-group  has-errors' : 'form-group ' ">
                <input  v-model="email_address"  placeholder="Enter Your Email ID" @keyup.prevent="removeError" type="text" class="form-control">
                <form-error v-if="errors.email_address" :errors="errors">{{ errors.email_address[0]}}</form-error>
              </div>
              <button class="send-email btn-primary btn-hover-gradient" type="submit" id="sendEmail">send email</button>
              <div class="clearfix"></div>
              <a href="javascript:;">Back to sign in</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>

export default {
  // our data
      data(){
        return {
            hasSucessMessage:false,
            hasError:false,
            email_address: '',
            errors:[],
            message:'',
            submitted:false,
        } 
      },
      methods: {
          handleSubmit(e){
              $("#sendEmail").html('<i class="fas fa-circle-notch fa-spin"></i> processing...');
                this.$http.post('/password/email', {email_address:this.email_address}).then(function(response) {
                // form submission successful, reset post data and set submitted to true
                $("#sendEmail").html('Send Email');
                this.message=response.data.status
                this.email_address="";
                // clear previous form errors
                this.errors=[];
                this.submitted = true;
                this.hasSucessMessage=true;
            }, function (response) {
                // form submission failed, pass form  errors to errors array
                this.errors=response.data.errors;
                $("#sendEmail").html('Send Email');
            });
          },
          removeError(){
            this.errors=[];
          }
      },
  mounted() {
  }
};
</script>