<template>
    <div class="container">
        <div class="row" id="general-page">
            <div class="col-md-12">
                <vue-loader :loading="loading"></vue-loader>
                <div id='first-step'>
                    <h3 class="body_header">General Set of Instructions</h3>
                    <div class="text-div">
                        <p>It is requested of you to read the below instructions properly and abide by them.</p>
                        <ul>
                            <li>The test is confidential and you must not disclose it to third party as well as try to
                                copy
                                it for your own purpose or commercial use.</li>
                            <li>We aim to provide a real simulation of PTE exam and our sole purpose is to educate you
                                with
                                the pattern of the exam.</li>
                            <li>The exam consists of four sections Speaking,
                                Writing,
                                Reading and Listening curated according to the PTE guidelines.</li>
                            <li>In case you are looking to take a break;
                                please close the test window and log out. Once you are ready to take the test,
                                just login and continue with the test. It will restart from the point you left.</li>
                            <li>The actual PTE exam will have the same number of instruction screens as well as the
                                question pattern,
                                it is therefore requested of you to attempt the exam in a professional manner.</li>
                            <li>We aim to provide a real simulation and in order to give a hassle free exam;

                                we request you to use an update system and browser along with a normal/good internet
                                speed.</li>
                            <li>You should avoid taking multiple tests with the same id at the same time. The same can
                                lead
                                to unreal test environment.</li>
                            <li>Although we provide the best industry standard simulation,
                                sometimes users tend to take the test in unreal test environment like low upload speed,
                                internet lag,
                                outdated browser,
                                corrupt audio drives,
                                unwanted cache in the browser which leads to certain issue in the test conductance.
                                While
                                we can not direct every users to fix that issue,
                                we recommend that in case a user faces any issue while taking the mock test,
                                they can simply close the test window,
                                log out,
                                restart the system and take the test. They can also try taking the test in incognito
                                window. </li>
                            <li>In caseof any query,
                                you can easily get in touch with our live chat support at our homescreen as well send us
                                the necessary feedbacks at the end of the test.</li>
                            <li>We wish you the best of luck for your PTE Success.</li>
                        </ul>
                    </div> <button @click.prevent="showNextContent" class="btn btn-primary btn-md">Next</button>
                </div>
                <div id="second-step" class="test_content_body hidden">
                    <div class="text_div col-sm-8">
                        <h3>Headset Check</h3>
                        <p>We will now test your headset,
                            so as to ensure that it functioning properly.</p>
                        <ol>
                            <li>Put your headset on and adjust it so that it fits comfortably over your ears</li>
                            <li>When you are ready,
                                click on the <span class="color_instruction">Play</span>button. You will hear a short
                                recording</li>
                            <li>If you do not hear anything in your headphones,
                                recheck your headphone or system sounds. You can ask your nearest instructor for help or
                                can get in touch with our live chat.</li>
                        </ol>
                    </div>
                    <div class="sample-audio col-sm-12">
                        <audio controls="" :src=mp3 id='headsetCheck'></audio>
                    </div>
                    <div class="text_div col-sm-12">
                        <ul>
                            <li>During the test you will not have <span class="color_instruction">Play</span>and
                                <span>Stop</span>buttons.
                                The audio recording will start playing automatically</li>
                            <li>Please do not remove your headset. You should wear it throughout the test</li>
                        </ul>
                    </div>
                    <button @click.prevent="showPreviousContent" class="btn btn-primary btn-md">Previous</button>
                    <button @click.prevent="showNextContent" id='headsetNext'
                        class="btn btn-primary btn-md disabled">Next</button>
                </div>
                <div id="third-step" class="test_content_body hidden">
                    <div class="row">
                        <div class="text_div col-8">
                            <h3>Microphone Check</h3>
                            <p>We will now test your microphone,
                                so as to ensure that it working properly.</p>
                            <ol>
                                <li>Place your headset and position your microphone near the mouth.</li>
                                <li>Once you are ready,
                                    click on <span class="color_instruction">"Record"</span>and speak "Hello,
                                    I am going to succeed in PTE exam."</li>
                                <li>Once you have finished spoken,
                                    click on <span class="color_instruction">Stop</span>button. </li>
                                <li>Click on <span class="color_instruction">"Playback"</span>to hear yourself speaking.
                                </li>
                                <li>If you are not able to hear the sound,
                                    please check your headset and system settings.</li>
                            </ol>

                            <ul>
                                <li>During the test you will not have Record, Playback and Stop buttons. The voice recording will start playing automatically</li>
                            </ul>

                        </div>
                        <div class="col-4">
                            <div class="test-record">
                                <p v-if="recordingInt==0">Start Recording</p>
                                <p v-else-if="recordingInt==1">Your voice is getting recorded</p>
                                <p v-else>Recording done.</p>
                                <audio controls="" :src=recorded id="recorder"></audio>
                                <div id="controls">
                                    <button id="recordButton" @click.once=startRecording>Record</button>
                                    <button id="pauseButton" disabled @click.prevent=PlayRecording>Play Back</button>
                                    <button id="stopButton" disabled @click.once=stopRecording>Stop</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <button @click.prevent="showPreviousContent" class="btn btn-primary btn-md">Previous </button>
                    <button @click.prevent="showNextContent" :disabled="!checkRecording"
                        class="btn btn-primary btn-md">Next </button>
                </div>
                <div class="test_content_body hidden" id="fourth_step">
                    <div class="body_upper">
                        <div class="text_div col-sm-8">
                            <h3>Keyboard Check</h3>
                            <p>This is an opportunity to check that you have the correct keyboard</p>
                            <ol>
                                <li>Look at the top row of letters on the keyboard</li>
                                <li>The letters should appear in this order Q W E R T Y</li>
                                <li>If you are not able to see the QWERTY, try using a different set of keyboard.</li>
                            </ol>
                            <div class="keyboard">
                                 <img :src="`${baseUrl}/images/keyboard.jpg`">
                            </div>
                        </div>
                        <div class="image_div col-sm-4">
                            <strong>This screen is not timed</strong>
                        </div>
                    </div>
                    <button @click.prevent="showPreviousContent" class="btn btn-primary btn-md">Previous </button>
                    <button @click.prevent="showNextContent" class="btn btn-primary btn-md">Next </button>
                </div>
                <div class="test_content_body hidden" id="fifth_step">
                    <div class="body_upper">
                        <div class="text_div col-sm-9">
                            <h3>Test Introduction</h3>
                            <p>This test measures the Reading, Writting, Listing and Speaking skills in English that you
                                will need in an academic setting.</p>
                            <ul>
                                <li>
                                    <p>The timer is shown on the top right corner of the screen along with the number of
                                        items/questions in the mock test</p>
                                </li>
                                <li>By clicking on the Next(N) button at the bottom of each screen you confirm your
                                    answer
                                    and more to the next question. If you click on Next(N) you will <span
                                        class="color_instruction">not</span>
                                    be able to return to the previous question. You will <span
                                        class="color_instruction">not</span>
                                    be able to revist any questions at the end of the test</li>
                                <li>You can take a break, by closing the test window and logging out. You can resume
                                    from
                                    the point you left once you login.</li>
                                <li>This is test makes use of different varieties of English, for example, British,
                                    American, Australian. You can answer in the standard English variety of your choice
                                </li>
                            </ul>
                        </div>
                        <div class="image_div col-sm-3">
                            <strong>This screen is no timed</strong>
                        </div>
                    </div>
                    <button @click.prevent="showPreviousContent" class="btn btn-primary btn-md">Previous</button>
                    <button @click.prevent="showNextContent" class="btn btn-primary btn-md">Next</button>
                </div>
                <div class="test_content_body hidden" id="sixth_step">
                    <div class="body_upper">
                        <div class="text_div col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Speaking Instruction</h3>
                                </div>
                                <div class="col-12">
                                    <p>Some questions required you to first listen to an audio clip and then record your
                                        answer by speaking clearly into the microphone.</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p><strong>Listening: </strong> The <span class="color_instruction">Current
                                            Status</span>shows how long you have until the audio clip starts.</p>
                                            <img :src='`${baseUrl}/images/first_speaking.png`'/>

                                </div>
                                <div class="col-6">
                                    <p>A green bar shows the progress of the audio clip. When it reaches the right hand
                                        side the audio clip will stop playing.</p>
                                        <img :src="`${baseUrl}/images/first_right_speaking.png`">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <p><strong>Speaking: </strong> The <span class="color_instruction">Current
                                            Status</span>
                                        shows how long you have until the microphone opens. Start speaking when the
                                        status
                                        changes to <span class="color_instruction">Recording.</span></p>
                                         <img :src="`${baseUrl}/images/second_speaking.png`">

                                </div>
                                <div class="col-6">
                                    <p>You must finish before the progress bar reaches the right hand side. if you
                                        remain
                                        silent for longer than 3 seconds, the recording will stop. You will <span
                                            class="color_instruction">not</span>
                                        be able to re-cord.</p>
                                        <img :src="`${baseUrl}/images/first_right_speaking.png`">
                                </div>
                            </div>
                            <div class="col-12">
                                <ul>
                                    <li>The next screen will present the first speaking task</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button @click.prevent="showPreviousContent" class="btn btn-primary btn-md">Previous</button>
                    <a :href="'/pte/exam/set/'+set_id+'/question/1'" class="btn btn-primary btn-md">Next</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import recorder, {
        recording
    } from "./../lib/recorder.js"
    import RingLoader from "./../components/Loader";

    export default {
        props: {
            id: {
                type: Number
            },
        },
        data() {
            return {
                loading: false,
                set_id: '',
                question_id: "",
                question: [],
                baseUrl: Laravel.baseUrl,
                mp3: Laravel.baseUrl + '/audio/audiocheck.mp3',
                recorded: "",
                counter: 0,
                recordingInt:0,
            }
        },
        components: {
            "vue-loader": RingLoader,
        },
        created(){
            if(window.menubar.visible){
                window.location = '/dashboard';
            }
        },
        mounted() {
            
            this.getSetsData();
            this.recorder = new recorder({
                bitRate: 192,
                sampleRate: 44100,
                format:'wav'
            });
            const recordButton = document.getElementById("recordButton");
            const stopButton = document.getElementById("stopButton");
            const pauseButton = document.getElementById("pauseButton");
        },
        computed: {
            checkRecording: function () {
                if (this.counter > 0) {
                    return true;
                }
                return false;
            }
        },
        methods: {
            getSetsData() {
                let id = this.$props.id;
                axios.get('/api/showdetail/' + id).then((res) => {
                    this.set_id = res.data.set_id;
                    this.question_id = res.data.question_id;
                }).catch((err) => {
                     console.log(err);
                })

            },
            startRecording() {
                let setTimer = null;
                let setTime = 19;
                this.recorder.start();
                this.recordingInt=1;
                recordButton.disabled = true;
                stopButton.disabled = false;
                pauseButton.disabled = true
                if (!setTimer) {
                    setTimer = setInterval(() => {
                        if (setTime > 0) {
                            setTime--;
                        } else {
                            clearInterval(setTimer)
                            this.stopRecording()
                            setTime = 0;
                        }
                    }, 1000)
                }
            },
            PlayRecording() {
                this.player = document.getElementById('recorder');
                this.player.play();
                this.counter++;


            },
            stopRecording() {
                this.recorder.stop();
                this.recordingInt=2;
                recordButton.disabled = true;
                stopButton.disabled = true;
                pauseButton.disabled = false;
                let recList = this.recorder.recordList()[0];
                this.recorded = recList.url;
            },
            callback(msg) {
                console.debug('Event: ', msg)
            },
            showNextContent(e) {
                if (e.target.parentNode.id === 'second-step') {
                    if (!document.getElementById('headsetCheck').ended)
                        return;
                }
                this.loading = true
                let parent = e.target.parentNode;
                let next = e.target.parentNode.nextElementSibling;
                $(parent).addClass('blur');
                setTimeout(() => {
                    this.loading = false;
                    $(parent).addClass('hidden');
                    $(next).removeClass('hidden blur').removeClass('');
                }, 500);
            },
            showPreviousContent(e) {
                this.loading = true;
                let parent = e.target.parentNode;
                let previous = e.target.parentNode.previousElementSibling;
                $(parent).addClass('blur');
                setTimeout(() => {
                    this.loading = false;
                    $(parent).addClass('hidden');
                    $(previous).removeClass('hidden blur');
                }, 500);
            },
            headsetCheckEvent() {
                const audio = document.getElementById('headsetCheck');
                audio.addEventListener('ended', (event) => {
                    document.getElementById('headsetNext').classList.remove('disabled');
                });
            }
        },




    }

</script>
<style scoped>
    .hidden {
        display: none;
    }

    #first-step,
    #second-step,
    #third-step {
        margin-top: 10px;
        padding-top: 30px
    }

    .btn {
        border-radius: 0.15rem;
        margin-right: 3px;
        float: left;
    }

    p {
        font-size: 14px;
    }

    ul,
    ol {
        margin: 10px 0px;
    }

    ul>li,
    ol>li {
        margin-left: 18px;
        list-style-type: decimal !important;
        font-size: 15px;
        font-weight: normal;
    }

    .blur {
        opacity: 0.5;
    }

    #controls {
        display: flex;
    }

    .test-record {
        border: 1px solid #928c8c;
        padding: 16px;
        text-align: center;
    }

    button {
        height: 2.5rem;
        min-width: 2rem;

        border-radius: 0.15rem;
        background: #fda32d;
        margin-left: 2px;
        box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 1rem;
        width: 100px
    }

    button:hover,
    button:focus {
        outline: none;
        background: #c72d1c;
    }

    button::-moz-focus-inner {
        border: 0;
    }

    button:active {
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
        line-height: 3rem;
    }

    button:disabled {
        pointer-events: none;
        background: lightgray;
    }

    button:first-child {
        margin-left: 0;
    }

</style>
