<template>
    <div class="container">
        <div class="row">
            <div class="col">
            <div class="question">
            <vue-loader :loading="loading"></vue-loader>
            <bpc-speaking-test 
            :loading="loading"
            :question=questions 
            :set_id=set_id
            :next-page=nextid 
            :total-time=totalTiming
            :total-questions=totalQuestion
            v-if="category=='speaking'"
            :time-taken=timeTaken
            @answered='userAnswered'
            ></bpc-speaking-test>
             <bpc-reading-test 
            :loading="loading"
            :question=questions 
            :set_id=set_id
            :next-page=nextid 
            :total-time=totalTiming
            :total-questions=totalQuestion
            :time-taken=timeTaken
            v-if="category=='reading'"
            ></bpc-reading-test>
            <bpc-listening-test :loading="loading" :question=questions :set_id=set_id 
             :next-page=nextid  :total-time=totalTiming 
             :total-questions=totalQuestion
              v-if="category=='listening'"
             ></bpc-listening-test>
             <bpc-writting-test 
            :loading="loading"
            :question=questions 
            :set_id=set_id
            :next-page=nextid 
            :total-time=totalTiming
            :time-taken=timeTaken
            :total-questions=totalQuestion
            v-if="category=='writting'"
            ></bpc-writting-test>
            </div>
        </div>
    </div>
</div>

</template>

<script>
    import RingLoader from "./../components/Loader.vue"
    import Speaking from "./../components/Questions/Speaking/Speaking.vue"
    import Reading from "./../components/Questions/Reading/Reading.vue"
    import Listening from "./../components/Questions/Listening/Listening.vue"
    import Writting from "./../components/Questions/Writting/Writting.vue"
    export default {
        props:{
            qset:{type:Number,default:1},
            page:{type:Number}
        },
        data() {
            return {
                pageNumber: 0,
                set_id: 0,
                nextid: 0,
                questions:{},
                totalQuestion:0,
                category:"",
                totalTiming:0,
                timeTaken:0,
                loading: true,
                files: false,
                duration:0,
                errors: [],
            }
        },
        components: {
            "vue-loader": RingLoader,
            'bpc-speaking-test':Speaking,
            'bpc-reading-test':Reading,
            'bpc-writting-test':Writting,
            'bpc-listening-test':Listening,
        },
        created() {
            if(window.menubar.visible){
                window.location = '/dashboard';
            }
            this.getQUestionModules();
        },
        watch: {
            '$route': 'getQUestionModules'
        },
        mounted(){
            this.$eventBus.$on('duration',(time)=>{
                  this.duration=Math.round(time);
            })
            this.$eventBus.$on('answered',(path)=>{
               this.userAnswered(path)
            })
            
            
        },

        methods: {
            callback(msg) {
                console.debug('Event: ', msg)
            },
            getQUestionModules() {
                this.loading = true;
                let setid = parseInt(this.$props.qset);
                let qid = parseInt(this.$props.page);
                if(!qid && !setid){
                    return;
                }
                axios.get('/api/showQuestion/' + this.$props.qset + '/page/' + this.$props.page).then((response) => {
                    this.questions = response.data.data;
                    this.set_id = response.data.set_id;
                    this.totalTiming = response.data.total_time - response.data.time_taken;
                    this.timeTaken = (response.data.time_taken==null) ? 0 : response.data.time_taken ;
                    this.category=response.data.category;
                    this.nextid = response.data.nextpage;
                    this.totalQuestion=response.data.totalPages;
                    this.loading = false;
                    // this.$emit('ResetTimer');
                    this.userViewed(this.set_id,qid,this.questions.id);

                }).catch(() => {})
            },
            userAnswered(path){
                //create url,
                let url,end;
                if(path.next===""){
                    url = '/exam/feedback/'+path.set;
                    end = true;
                }else{
                    url = `/pte/exam/set/${path.set}/question/${parseInt(path.next)}`;
                    end = false;
                }
                //make ajax request
                axios.get('/tracker/answered', {params:{
                    set_id: path.set,
                    qid:path.qid,
                    url,
                    end}}).then().catch();
                
            },
            userViewed(setid,next,qid){
                let url = `/pte/exam/set/${setid}/question/${next}`;
                axios.get('/tracker/read',{
                    params:{
                        set_id: setid,
                        qid: qid,
                        url
                    }
                }).then().catch();
            }
        }

    }
</script>

<style lang="scss">
.question{
     margin:100px auto;
    width: 100%;
    .heading,.pages{
    display:inline-block
    }
    .pages{
        float:right;
    }
    p{ 
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 17px !important;
        }
    .hidden {
            display: none;
        }
    .recoder {
        margin: 20px auto;
        width: 400px;
    }
}

</style>

