<template>
<div class="timer">
<span class="btn btn-primary pull-right">
    <span id="remain-time">{{showTimer}}</span> / <span id="total-time">{{totalTime}}</span></span>
</div>
</template>

<script>
export default {
      props: {
      remainTime:{type:Number},
      totalTime: { type:String }
    },
    data(){
        return{
            starttime:'',
            remain_time:'',
            setTimer:null,
        }
    },
    computed:{
       showTimer:function(){
           return this.remain_time;
       }
    },
    created(){
        this.showRemainTime(this.remainTime);
    },
    methods:{
        showRemainTime:function(duration){
            let start = Date.now()+1000,diff,hour,minutes,seconds;
            if(!this.setTimer)
            {
            this.setTimer= setInterval(()=>{
            diff = duration - (((Date.now() - start) / 1000) | 0);
            // does the same job as parseInt truncates the float
            hour= (diff / 3600) | 0;
            minutes = (diff /60 % 60) | 0;
            seconds = (diff % 60) | 0;
     
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            this.remain_time =hour+":"+minutes + ":" + seconds; 
            this.timeTaken++;
                if (diff <= 0) {
                this.stopTimer();
                }
            },1000);
            }
        },
        stopTimer () {
         clearInterval(this.setTimer)
         this.setTimer = null;
        },
     
 
    }
}
</script>

<style lang="scss">
.timer{
    display:block;
    float:left;
    margin-right:10px
}

</style>
