<template>
    <div>
        <p class="text-center">Audio Recorder</p>
        <div class="timer">Current Status : {{ prettyCountDown}}</div>
    </div>
</template>

<script>
    export default {
        props: ['countDown', 'uploadFile'],
        computed: {
            prettyCountDown() {
                if (this.countDown > 0) {
                    return "Recording will begin in " + this.countDown + " seconds";
                } else {
                    return "Recording...";
                }

            }
        }
    }

</script>
