<template>
   <a href="#" class="btn btn-default btn-unlock" :id="'btn-unlock'+id" :style="'display:'+display" @click.prevent="addToCart(id)"><i class="fas fa-unlock"></i> Unlock</a>
</template>

<script>
  export default {
    props:{
      id:{type:Number},
      display:{type:String},
    },
    data() {
      return {
        
      };
    },
    methods: {
      addToCart: function(id){
        document.getElementById('btn-unlock'+id).innerHTML = 'Processing..';
                axios.get('/addToCart', {
                    params:{
                    set_id:id
                    }
                }).then(response =>{
                    document.getElementById('btn-unlock'+id).innerHTML = '<i class="fa fa-check"></i>Success';
                    this.$eventBus.$emit('addtocart');
                    setTimeout(() => {
                      document.getElementById('btn-unlock'+id).style.display= 'none';
                      document.getElementById('btn-checkout'+id).style.display= 'block';
                    }, 0);

                    Toast.fire({
                        type: 'success',
                        title: 'Item Sucessfully added to cart.'
                    })
                }).catch(error => {
                
                });
            }
      },
    }
</script>

<style lang="scss" scoped>

</style>