<template>
<div class="describe-image row">
   <div class="col" v-if="question.files.length >0 ">
                        <div class="files" v-for="(file,id) in question.files" :key="id">
                            <div class="image" v-if="file.file_type!='audio'">
                                <img :src="file.file_path" class="img-fluid"/>
                            </div>
                        </div>
     </div>
    <div class="col">
                        <div class="recoder">
                            <audio-recorder :upload-url="'/answers/'+question.id" 
                                :start-after="Math.round(question.start_timer)" 
                                :stop-recoder="true" 
                                :time-end="Math.round(question.time_frame)"
                                :bit-rate="192"
                                :show-timer="true"
                            />
                        </div>
    </div>
</div>                    
</template>

<script>
    export default {
        props: {
            question: {
                type: Object
            }
        },
    }

</script>

<style>
</style>
