<template>
        <div class="read-aloud  row">
        <div :class="question.files.length >0 ? 'col-6' :'col-12'">
            <div class="recoder">
                <audio-recorder :upload-url="'/answers/'+question.id" 
                                :start-after="Math.round(question.start_timer)" 
                                :stop-recoder="true" 
                                :time-end="Math.round(question.time_frame)"
                                :bit-rate="192"
                                :show-timer="true"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        question:{type:Object,required:true}
    }
}
</script>

<style>
.read-aloud{
    margin:0 auto;
}
</style>
