<template>
    <div class="repeat-sentence row">
        <div class="col-6" v-if="question.files.length >0 ">
            <div class="files" v-for="(file,id) in question.files" :key="id">
                <div class="audio" v-if="file.file_type=='audio'">
                    <j-player :media-file="file.file_path"></j-player>
                </div>
            </div>
        </div>
        <div :class="question.files.length >0 ? 'col-6' :'col-12'">
            <div class="recoder">
                <audio-recorder :upload-url="'/answers/'+question.id" 
                                :start-after="Math.round(duration)" 
                                :stop-recoder="true" 
                                :time-end="Math.round(question.time_frame)"
                                :bit-rate="192"
                                :show-timer="true"

                            />
            </div>
        </div>
    </div>
</template>

<script>
    import jplayer from "./../../../components/Questions/jPlayer/jplayer.vue"
    import {convertTimeMMSS} from './../../../lib/utils'
    export default {
        props: {
            question: {
                type: Object
            }
        },
        data() {
            return {
                baseUrl: this.$parent.baseUrl,
                setTime:0,
                duration:0,
            }
        },
        components: {
            'j-player': jplayer
        },
        computed: {
            countDown: function () {
                return this.$parent.setTime;
            }
        },
        mounted(){
            this.$eventBus.$on('file-duration',(duration)=>{
               this.duration=duration;
            })
        },
        methods: {
            startTimer: function () {
                 this.$parent.startTimer(1);
            },
        }

    }

</script>

<style>
.repeat-sentence{
    margin:0 auto;
}
</style>
