<template>
     <div :class="{'hidden': loading}">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                <h3>{{question.set_name}} : {{question.category}} - {{question.qtype}}</h3>
                </div>
                <div class="pages">
                <bpc-set-time :total-time=question.total_time :remain-time=totalTiming></bpc-set-time>
                <span class="btn btn-warning">{{$route.params.question}} of {{totalQuestions}}</span>
                </div>
                <div class="clearfix"></div>
                <div class="additional_note">
                    <p>{{question.additional_note}}</p>
                </div>
            </div>
            <div class="col-12">
               
                    <repeat-sentence :question="question" v-if="question.slug=='repeat-sentence'"/>
                    <read-aloud :question="question" v-if="question.slug=='read-aloud'"/>
                    <describe-image :question="question" v-if="question.slug=='describe-image'"/>
                    <retell-lecture :question="question" v-if="question.slug=='re-tell-lecture'"/>
                    <short-answer :question="question" v-if="question.slug=='answer-short-question'"/>
            </div>
            <div>
                <p>{{question.question}}</p>
            </div>
        </div>
        <div  v-if="nextPage.length>0">
        <!-- <router-link :to="'/pte/exam/set/'+set_id+'/question/'+nextPage" @click.native="$eventBus.$emit('ResetTimer')" class="btn btn-primary btn-lg" tag="a">
            Next</router-link> -->
            
            <button class='btn btn-primary btn-lg float-right' type='button' :disabled=nextDisable  @click.prevent="$eventBus.$emit('ResetTimer')">Next</button>
        </div>
        <div v-else>
            <!-- <router-link to="/pte/exam/review" class="btn btn-primary btn-lg" @click.native="$eventBus.$emit('ResetTimer')" tag="a">Submit</router-link> -->
            <button class='btn btn-primary btn-lg float-right' type='button' @click.prevent="$eventBus.$emit('ResetTimer')">Submit</button>

        </div>
    </div>
</template>

<script>
import RemainTimer from "./../../../components/RemainingTime.vue"
import Readaloud from "./../../../components/Questions/Speaking/readaloud.vue"
import RetellLecture from "./../../../components/Questions/Speaking/RetellLecture.vue"
import RepeatSentence from "./../../../components/Questions/Speaking/repeatSentence.vue"
import DescribeImage from "./../../../components/Questions/Speaking/describeImage.vue"
import ShortAnswer from "./../../../components/Questions/Speaking/answershort.vue"
import recorder from '../../../lib/recorder';
export default {
    props:{
        loading:{type:Boolean},
        question:{type:Object} ,
        set_id:{type:String},
        nextPage:{type:String},
        totalTime:{type:Number},
        totalQuestions:{type:Number},
        timeTaken:{type:Number,default:0},
    },
    data(){
        return {
            totalTiming:this.totalTime,
            nextDisable:true,
            setTime: 12,
            setTimer: null,
            baseUrl:Laravel.baseUrl,
            timetaken: this.timeTaken,
            timer:{}
        }
    },
     components: {
       'bpc-set-time':RemainTimer,
       'read-aloud': Readaloud,
       'retell-lecture': RetellLecture,
       'repeat-sentence': RepeatSentence,
       'describe-image': DescribeImage,
       'short-answer': ShortAnswer,
     },
     mounted(){
         this.$eventBus.$on('enable-next',()=>{
             this.nextDisable=false;
         })
         this.$eventBus.$on('start-uploading',(record)=>{
            this.uploadAnswer(record)
         })
         this.timer = setInterval(()=>{
                this.timetaken++;
            },1000); 
     },
     methods: { 
          startTimer: function (setTime) {
               this.setTime=(setTime!="") ? setTime : this.setTime;
                if (!this.setTimer) {
                    this.setTimer = setInterval(() => {
                        if (this.setTime > 0) {
                            this.setTime--;
                        } else {
                            clearInterval(this.setTimer)
                            this.setTimer = null;
                            this.setTime = 0;
                            if ($('#jquery_jplayer_1').jPlayer('play')) {
                                $('#bgnTm').text("Playing...");
                            } else {
                                $('#bgnTm').text("Audio Loading...");
                            }
                        }
                    }, 1000)
                }
            },
        userAnswered(next, set, qid){            
            this.$emit('answered',{next,set,qid});
        },
        nextQuestion(){
            this.userAnswered(this.$props.nextPage, this.$props.set_id, this.$props.question.id);
            if(this.nextPage.length>0)
            window.location=`/pte/exam/set/${this.set_id}/question/${this.nextPage}`
            else
             window.location=`/exam/feedback/${this.set_id}`;
        },
        uploadAnswer(recordList){
            clearInterval(this.timer);
            let record=recordList[0];
             if (!record.url) {
            return
            }
            const data = new FormData()
            const type = record.blob.type.split('/')[1];
            data.append('audio', record.blob, `${record.id}.${type}`)
            data.append('sub_section_id',this.question.question_type_id)
            data.append('time_taken',this.timetaken)
            const headers = Object.assign('headers', {})
            headers['Content-Type'] = `multipart/form-data; boundary=${data._boundary}`
            this.$http.post(`/api/saveSpeakingAnswers/${this.question.id}`, data, { headers: headers }).then(resp => {
            this.nextQuestion();
            this.$eventBus.$emit('hasUploaded', { status: 'success', response: resp })
            }).catch(error => {
            this.$eventBus.$emit('hasUploaded', { status: 'fail', response: error })
            })
        }
     },

}
</script>

<style>
</style>
