<template>
    <div :class="{'hidden': loading}">
          <form role="form" id="readQuestionSet">
              
        <div>
          
            <div class="col-12">
                <div class="heading">
                    <h3>{{question.set_name}} : {{question.category_name}} - {{question.qtype}}</h3>
                </div>
                <div class="pages">
                    <bpc-set-time :total-time=question.total_time :remain-time=totalTiming></bpc-set-time>
                    <span class="btn btn-warning">{{$route.params.question}} of {{totalQuestions}}</span>
                </div>
                <div class="clearfix"></div>
                <div class="additional_note">
                    <p class='text-capitalize'>{{question.additional_note}}</p>
                </div>
                <div class="row">
                    <div class="col-6" v-if="question.summary">
                        <p>{{question.summary}}</p>
                    </div>
                    <div class="metas col-6" v-if="isMutileChoice">
                        <p>{{question.question}}</p>
                        <ul>
                            <li v-for="(option) in convertJsonToArray(question.metas.meta_value)" :key="option.id">
                                <div class="form-check form-check-inline">
                                   <label class="form-check-label">
                                    <input type="checkbox" name="answer[]" class="form-check-input" :value="option.id"
                                        v-if="showCheckbox">
                                    <input type="radio" name="answer" :value="option.id" v-if="question.metas.meta_key=='mccsa'">{{option.option}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col" v-if="isROP">
                        <rop :options="order"></rop>
                    </div>
                    <div class="col" v-if="isRFB">
                        <rfb :options="metaInJson" :question="question.question"></rfb>
                    </div>
                    <div class="col" v-if="isRWFB">
                        <rwfb :options="metaInJson" :question="question.question"></rwfb>
                    </div>

                </div>
            </div>

            <div class="sst" v-if="question.slug=='sst'">
                <textarea rows="10" class="form-control" v-model="sst_answer" v-on:keyup="countWord" cols="12"
                    @paste.prevent></textarea>
                <p v-bind:class="{'text-danger': hasError }">Total Word Count: {{remainingCount}}</p>
            </div>
        </div>
            <input type="hidden" name="test_id" :value="question.set_id">
            <input type="hidden" name="section_id" :value="question.id">
            <input type="hidden" name="sub_section_id" :value="question.question_type_id">
            <input type="hidden" name="question_id" :value="nextPage">
            <input type="hidden" name="time_spent" :value="countDown">
        </form>
        <div class="test_content_body">
        <div class="body_lower fixed-div exam-footer">
            <div class="buttons_div">
                <ul>
                    <li>
                        <a :href="`/pte/exam/set/${set_id}/question/${nextPage}`" class="btn btn-primary float-right" @click.prevent="handleFormSubmit($event)">Next</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    
    
    import RemainTimer from "./../../../components/RemainingTime.vue"
    import rop from "./rop.vue"
    import rfb from "./rfb.vue"
    import rwfb from "./rwfb.vue"
    export default {
        props: {
            loading: {
                type: Boolean
            },
            question: {
                type: Object
            },
            set_id: {
                type: String
            },
            nextPage: {
                type: String
            },
            totalTime: {
                type: Number
            },
            timeTaken: {
                type: Number
            },
            totalQuestions: {
                type: Number
            },
        },
        data() {
            return {
                totalTiming: this.totalTime,
                sst_answer: "",
                setTimer: null,
                maxCount: 70,
                remainingCount: 0,
                setTime: 3,
                hasError: false,
                order:[],
                userAnswer:'',
                timer:'',
                timetaken : this.timeTaken
            }
        },
        computed: {
            isMutileChoice: function () {
                if (this.question.metas != null) {
                    return this.question.metas.meta_key == 'mccma' || this.question.metas.meta_key == 'mccsa' ||
                        this.question.metas.meta_key == 'hcs';
                }
                return false;
            },
            isROP: function(){
                return this.question.metas.meta_key === 'rop';
            },
            isRFB: function(){
                return this.question.metas.meta_key === 'rfb';
            },
            isRWFB: function(){
                return this.question.metas.meta_key === 'rwfb';
            },
            showCheckbox: function () {
                return this.question.metas.meta_key == 'mccma' || this.question.metas.meta_key == 'hcs'
            },
            countDown: function () {
                return this.setTime;
            },
            metaInJson(){
                return JSON.parse(this.question.metas.meta_value);
            }
        },
        components: {
            'bpc-set-time': RemainTimer,
            rop,
            rfb,
            rwfb
        },
        mounted() {
            this.startTimer();
            this.order = JSON.parse(this.question.metas.meta_value);
            this.$eventBus.$on('ropChanged',(answer)=>{
                this.userAnswer = answer;              
            });
            this.$eventBus.$on('changeQn',(time)=>{
                    console.log(time);
                    this.timeTaken = time;
            });
            this.timer = setInterval(()=>{
                this.timetaken++;
            },1000);
        },
        methods: {
            convertJsonToArray: function (value) {
                return JSON.parse(value);
            },
            startTimer: function () {
                if (!this.setTimer) {
                    this.setTimer = setInterval(() => {
                        if (this.setTime > 0) {
                            this.setTime--;
                        } else {
                            clearInterval(this.setTimer)
                            this.setTimer = null;
                            this.$eventBus.$emit('auto-play-back');
                            this.setTime = 0
                        }
                    }, 1000)
                }
            },
            userAnswered(next, set, qid){            
                this.$eventBus.$emit('answered',{next,set,qid});
            },
            nextQuestion(){
                this.userAnswered(this.nextPage, this.set_id, this.question.id);
                if(this.nextPage.length>0)
                window.location=`/pte/exam/set/${this.set_id}/question/${this.nextPage}`
                else
                window.location=`/exam/feedback/${this.set_id}`;
            },
            handleFormSubmit(e){
                let url=$(e.target).attr('href');
                var data = document.getElementById('readQuestionSet');
                var formData = new FormData(data);
                clearInterval(this.timer);
                formData.append('time_taken',this.timetaken);

                if(this.isROP) formData.append('answer',JSON.stringify(this.userAnswer));

                axios.post('/api/saveReadQuestion',formData).then((res)=>{
                  this.nextQuestion();
                }).catch(()=>{

                })
            },
            countWord: function () {
                this.remainingCount = (this.sst_answer.trim().split(/\s+/).length > 0) ? this.sst_answer.trim()
                    .split(/\s+/).length : 0;
                this.hasError = (this.remainingCount > 70) ? true : false;;
            },
        },

    }

</script>

<style>

.form-check-inline .form-check-input {

    width: 20px;
    border: 0px;
    background: transparent;
    float: left;
}


</style>
