<template>
  <div>
    <div class="card question-container">
      <div class="question card-body"><p v-html="questionData"></p></div>
    </div>
    <div class="card option-container">
      <div class="options card-body">
        <span class="option fill" draggable="true" v-for="option in options" :key="option.id" :id="option.id">{{option.option}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props:['options','question'],
    data() {
      return {
        dragged:{},
        parentEl:{},
      }
    },
    computed: {
      questionData: function(){
        return this.question.replace(/r_/g,`<span class="blanks">_______<input type="hidden" value="" name="answer[]"></span>`);
      },
    },
    methods: {
      drag(){
        const options = document.querySelectorAll('.option');
        const blanks = document.querySelectorAll('.blanks');

        options.forEach(option => {
            option.addEventListener('dragstart', this.dragStart);
            option.addEventListener('dragend', this.dragEnd);
        });

        blanks.forEach(blank=>{
          blank.addEventListener('dragover',this.dragOver);
          blank.addEventListener('dragenter',this.dragEnter);
          blank.addEventListener('dragleave',this.dragLeave);
          blank.addEventListener('drop',this.dragDrop);
        });

        const back = document.querySelector('.options');
        back.addEventListener('dragenter',(e)=> e.preventDefault());
        back.addEventListener('dragover',(e)=> {
          e.preventDefault();
          event.dataTransfer.dropEffect = 'copy';
        });
        back.addEventListener('dragleave',(e)=> e.preventDefault());

        back.addEventListener('drop',this.dropBack);
      },
      /* Drag event functions*/
      dragStart(e){                
        e.target.className += ' hold';
        this.dragged = e.target;
        this.parentEl = e.target.parentElement;
        setTimeout(() => {
          e.target.className = 'inv';
        }, 0);
      },
      dragEnd(e){
        if(!e.target.classList.contains('filled')){
          e.target.className = 'option fill';
        }
        if(e.target.classList.contains('opiton')){
          return false;
        }

        
        if(this.hovered.innerHTML.length <=15 && !this.hovered.parentElement.classList.contains('options')){
          return false;
        }
              
        if(this.parentEl.classList.contains('blanks')){ 
          if(e.target.parentElement.classList.contains('options')|| (this.parentEl.classList.contains('blanks') && this.parentEl
          .classList.contains('filled') )||!e.target.parentElement.classList.contains('filled') && e.target.classList.contains('filled')){   
            this.parentEl.classList.remove('filled');
            this.parentEl.innerHTML = '_______<input type="hidden" value="" name="answer[]">';
          }
        } 
      
        setTimeout(() => {
          this.dragged = {};
        }, 0);

      },
      dragOver(e){
        e.preventDefault();
        this.hovered = e.target;

      },
      dragEnter(e){
        e.preventDefault();
        if(e.target.classList.contains('fill')) return;
        e.target.className += ' hovered';
      },
      dragLeave(e){
        e.preventDefault();
        e.target.classList.remove('hovered');
        if(e.target.classList.contains('fill')) return;
      },
      dragDrop(e){
        e.preventDefault();
        if((e.target.classList.contains('blanks') && !e.target.classList.contains('filled') || e.target.classList.contains('options'))){
           if(e.target.classList.contains('blanks') && !e.target.classList.contains('filled')) {
            try {
              if(e.target.classList.contains('blanks')){
                e.target.innerHTML = e.target.innerHTML.replace(/_/g,'');
                let dg  = this.dragged;
                e.target.lastChild.value = dg.innerHTML;
                e.target.append(dg);
                e.target.className +=' filled';
              }      
            } catch (error) {
              console.log(error);
            }
              return;
          }
        } else {
          return;
        }
       

      },
      dropBack(e){
        e.preventDefault();
        if(e.target.classList.contains('options')) {
        try{
          let dg  = this.dragged;
          e.target.append(dg);
          e.target.classList.remove('filled');
        } catch(error){
          console.log(error);
        }
        } else {
          return false;
        }
        
      }


      /* ./ drag event functions */
    },
    mounted() {
      this.drag();
    },
  }
</script>

<style scoped>
    .question-container{
      margin: 2rem;
    }
    .option-container{
      margin: 2rem;
      padding: 2rem;
    }
    .blanks{
      padding: 0 10px;
      display:inline-block;
      background: white;
    }
    .option{
      cursor: pointer;
    }

    .hold{
      border: solid 4px #ccc;
    }
    .hovered{
      background: #f4f4f4;
      border-style: dashed;
    }
    .inv{
      padding: 2 5px;
      border-bottom: 1px solid black;
      background: orangered;
      cursor: not-allowed;
    }

    .options .inv{
      background: orangered;
      border-radius: 5px;
      color:white;
      font-weight: 400;
      padding:7px 10px;
      margin: 0.25rem 0.5rem;
      cursor: not-allowed;
    }

    .question .fill{
      padding: 2 5px;
      border-bottom: 1px solid black;
      background: yellow;
    }
    .options .fill{
      background: rgb(2, 89, 160);
      border-radius: 5px;
      color:white;
      font-weight: 400;
      padding:7px 10px;
      margin: 0.25rem 0.5rem;
      cursor: pointer;
    }
</style>