<template>
  <div class="row">
    <div class="col-6 px-1">
      <h3>Current Order</h3>
      <draggable class="list-group" :list="options" group="paragraph">
        <div
          class="list-group-item"
          v-for="(option, index) in options"
          :key="option.id"
        >
          {{ option.option }} {{ index }}
        </div>
      </draggable>
    </div>

    <div class="col-6 px-1">
      <h3>Your Answer</h3>
      <draggable class="list-group user-answer" :list="userOption" group="paragraph" @change="log">
        <div
          class="list-group-item"
          v-for="(option, index) in userOption"
          :key="option.id"
        >
          {{ option.option }} {{ index }}
        </div>
        <div class="placeholder-text" v-if="userOption.length==0"><p>Your Answer Here</p></div>
      </draggable>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable"
  export default {
    props:['options'],
    name: "ReOrderParagraph",
    display: "Re Order Paragraph",
    order: 1,
    components: {
      draggable
    },
  data() {
    return {
      userAnswer:[],
      userOption:[],
    };
  },
  methods: {
    log: function(evt) {
      if(evt.added){
        this.updatedAnswer();
      } else if( evt.moved){
        this.updatedAnswer();          
      } else if(evt.removed){
        this.updatedAnswer();                    
      }
        this.$eventBus.$emit('ropChanged',this.userAnswer);      
      
    },
    updatedAnswer() {
      this.userAnswer = [];
        this.userOption.forEach((element,index) => {
          this.userAnswer[index]=element.id;
        });      
    },
  },
};
</script>

<style scoped>
.list-group-item{
  margin: 0.2rem 0;
  border: 1px solid rgba(5, 10, 15, 0.212);
}
.list-group{
  position: relative;
  padding: 0.3rem;
  border: 1px solid rgba(5, 10, 15, 0.212);
  min-height: 25rem;
}
.col-6{
  position: relative;
}



.placeholder-text{
  position: absolute;
  top: 40%;
  left:30%;
  text-align:center;
}

.placeholder-text > p{
  font-size:2rem;
}
</style>