<template>
  <div class="card">
    <div class="question card-body" v-html="questionData"></div>
  </div>
</template>

<script>
  export default {
    props:['question','options'],
    data() {
      return {
        
      }
    },
    computed: {
      questionData: function(){
        return this.question.replace(/r_/g,`<select class='options' style='background:#eee;padding:0 5px;' name='answer[]'><option selected disabled>Select an Answer</option></select>`);
      }
    },
    methods: {
      populateOptions(){
        const blanks = document.querySelectorAll('.options');
        let options = this.options;

        blanks.forEach((blank,index) => {
            options[index].option.forEach(opt => {
              let newOpt = document.createElement('option');
              newOpt.value = opt;
              newOpt.innerHTML = opt;
              blank.append(newOpt);
            });
        });
      }
    },
    mounted() {
      this.populateOptions();
    },
  }
</script>

<style scoped>
.question{
  padding: 2rem 1rem;
}


</style>