<template>
    <div class="paragraph">
        <div class="card question-container">
            <div class="card-body">
                <p v-html="questionData"></p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['question'],
        data() {
            return {
                userAnswerd: []
            }
        },
        computed: {
            questionData: function () {
                return this.question.replace(/r_/g, "<input type='text' class='input-sm' name='answer[]'>");
            }
        }

    }

</script>

<style>
    .jp-audio {
        width: 420px;
        margin: 20px auto;
    }

    .paragraph {
        margin: 0 auto;

    }

    .paragraph .question-container p {
        font-size: 18px;
        line-height: 35px;
        text-align: justify
    }

    .paragraph .input-sm {
        width: 200px;
        border: 1px solid #8c8c8c !important;
        height: 25px;
    }

</style>
