<template>
    <div class="metas col-12">
        <div class="card">
            <div class="card-body">
                <p v-html="questionData"></p>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['question'],
        computed: {
            questionData: function () {
                return this.question.split(" ").map(function (el) {
                    return '<span>' + el + '</span> <input type="hidden" value="' + el +
                        '" disabled="disabled" name="answer[]">'
                }).join(" ");
            }
        },
        mounted() {
            this.highlightWords();
        },
        methods: {
            highlightWords: function (e) {
                const highlightWords = document.querySelectorAll('span');
                highlightWords.forEach(span => {
                    span.addEventListener('click', this.selectWord);
                });
            },
            selectWord: function (e) {
                if (e.target.classList.contains('highlight')) {
                    e.target.classList.remove('highlight')
                    $(e.target).next().attr('disabled', 'disabled');
                } else {
                    e.target.classList.add('highlight');
                    $(e.target).next().removeAttr('disabled')
                }
            }
        }

    }

</script>

<style>
    span {
        cursor: pointer;
        display: inline;
        line-height: 32px;
    }

    label {
        display: inline;
        vertical-align: top;
        font-size: 16px;
    }

    .highlight {
        background: rgb(50, 51, 51);
        border-radius: 6px;
        padding: 2px;
        color: #fff;
    }

    .form-check-input {
        margin: 0 1rem;
        float: none !important
    }

</style>
