<template>
    <div :class="{'hidden': loading}">
        <form id="listeningForm" role="form">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
              <div class="heading">
                        <h3>{{question.set_name}} : {{question.category}} - {{question.qtype}}</h3>
                    </div>
                    <div class="pages">
                        <bpc-set-time :total-time=question.total_time :remain-time=totalTiming></bpc-set-time>
                        <span class="btn btn-warning">{{$route.params.question}} of {{totalQuestions}}</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="additional_note">
                        <p>{{question.additional_note}}</p>
                    </div>

                        </div>
                    </div>
                
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12" v-if="question.files.length >0 ">
                            <div class="files" v-for="(file,id) in question.files" :key="id">
                                <div class="image" v-if="file.file_type!='audio'">
                                    <img :src="file.file_path" class="img-fluid" />
                                </div>
                                <div class="audio" v-if="file.file_type=='audio'">
                                    <j-player :media-file="file.file_path"></j-player>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <fill-blank v-if="question.slug=='finb'" :question="question.question" />
                        <summarize-text v-else-if="question.slug=='sst'" :question="question.question" />
                        <writting-dictation v-else-if="question.slug=='wfd'" :question="question.question" />
                        <highlight-words v-else-if="question.slug=='hiw'" :question="question.question" />
                        <multiple-choice :question="question" v-else/>
                    </div>
                </div>
            <input type="hidden" name="test_id" :value="question.set_id">
            <input type="hidden" name="section_id" :value="question.id">
            <input type="hidden" name="sub_section_id" :value="question.question_type_id">
            <input type="hidden" name="question_id" :value="nextPage">
            <input type="hidden" name="time_spent" :value="countDown">
        </form>
        <div class="col">
            <div class="body_lower fixed-div exam-footer">
                <div class="buttons_div">
                    <ul>
                        <li>
                            <a href=""
                                class="btn btn-primary float-right" @click.prevent="handleFormSubmit($event)" >Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import RemainTimer from "./../../../components/RemainingTime.vue"
    import FillInBlank from "./../../../components/Questions/Listening/fillinblank.vue"
    import Multiplechoice from "./../../../components/Questions/Listening/Multiplechoice.vue"
    import SummarizeText from "./../../../components/Questions/Listening/summarizetext.vue"
    import WrittingDictation from "./../../../components/Questions/Listening/writtingdictation.vue"
    import HighlightWords from "./../../../components/Questions/Listening/HighlightWords.vue"
    import jplayer from "./../../../components/Questions/jPlayer/jplayer.vue"
    export default {
        props: {
            loading: {
                type: Boolean
            },
            question: {
                type: Object
            },
            set_id: {
                type: String
            },
            nextPage: {
                type: String
            },
            totalTime: {
                type: Number,
            },
            timeTaken: {
                type: Number,
                default: 0,
            },
            totalQuestions: {
                type: Number
            },
            source: {
                type: String
            }
        },
        data() {
            return {
                totalTiming: this.totalTime,
                sst_answer: "",
                setTime: 12,
                setTimer: null,
                baseUrl: Laravel.baseUrl,
                hasError: false,
                timer:'',
                timetaken : this.timeTaken
            }
        },
        computed: {
            isMutileChoice: function () {
                if (this.question.metas != null) {
                    return this.question.metas.meta_key == 'mccma' || this.question.metas.meta_key == 'mccsa' ||
                        this.question.metas.meta_key == 'hcs';
                }
                return false;
            },
            showCheckbox: function () {
                return this.question.metas.meta_key == 'mccma' || this.question.metas.meta_key == 'hcs'
            },
            countDown: function () {
                return this.setTime;
            }

        },
        components: {
            'bpc-set-time': RemainTimer,
            'fill-blank': FillInBlank,
            'multiple-choice': Multiplechoice,
            'summarize-text': SummarizeText,
            'highlight-words': HighlightWords,
            'writting-dictation': WrittingDictation,
            'j-player': jplayer
        },
        mounted() {
            this.timer = setInterval(()=>{
                this.timetaken++;
            },1000);
        },
        methods: {
            startTimer: function () {
                if (!this.setTimer) {
                    this.setTimer = setInterval(() => {
                        if (this.setTime > 0) {
                            this.setTime--;
                        } else {
                            clearInterval(this.setTimer)
                            this.setTimer = null;
                            this.setTime = 0;
                            if ($('#jquery_jplayer_1').jPlayer('play')) {
                                $('#bgnTm').text("Playing...");
                            } else {
                                $('#bgnTm').text("Audio Loading...");
                            }
                        }
                    }, 1000)
                }
            },
            convertJsonToArray: function (value) {
                return JSON.parse(value);
            },
            userAnswered(next, set, qid) {
                this.$eventBus.$emit('answered', {
                    next,
                    set,
                    qid
                });
            },
            nextQuestion(){
                this.userAnswered(this.nextPage, this.set_id, this.question.id);
                if(this.nextPage.length>0)
                window.location=`/pte/exam/set/${this.set_id}/question/${this.nextPage}`
                else
                window.location=`/exam/feedback/${this.set_id}`;
            },
             handleFormSubmit(e){
                 if(this.setTime!=0) return;
                //let url=$(e.target).attr('href');
                var data = document.getElementById('listeningForm');
                var formData = new FormData(data);
                clearInterval(this.timer);
                formData.append('time_taken',this.timetaken);
                axios.post('/api/saveReadQuestion',formData).then((res)=>{
                  this.nextQuestion();
                }).catch(()=>{

                })
            },
        },

    }

</script>

<style>


</style>
