<template>
<div class="metas col-12">
    <div class="card">
        <div class="card-body">
    <p>{{ question.question}}</p>
    <ul>
        <li v-for="(option,key,index) in $parent.convertJsonToArray(question.metas.meta_value)" :key="index">
                <div class="form-check form-check-inline">
                <label class="form-check-label">
                <input type="checkbox" name="answer[]" class="form-check-input" :value="option.id"
                v-if="$parent.showCheckbox">
                <input type="radio" name="answer"  class="form-check-input" :value="option.id" v-else>{{option.option}}
                 </label>
                </div>
        </li>
    </ul>
        </div>
    </div>

</div>
</template>

<script>
export default {
    props:{
        question:{type:Object}
    }

}
</script>

<style scoped>
label{
       display: inline;
    vertical-align: top;
    font-size: 16px;
}
.form-check-input{
    margin:0 1rem;
    float:none !important
}

</style>
