<template>
<div class="col">
<div class="summerize-text">
<div class="wd mb-2 ">
<textarea rows="10" class="form-control" name="wdss_answer" v-model="sst_answer" v-on:keyup="countWord" cols="12"></textarea>
<div class="row mt-3">
    <div class="col">
<button class="btn btn-default btn-dark cut">Cut</button>
    </div>
    <div class="col text-center">
<button class="btn btn-default btn-dark copy">Copy</button>
    </div>
    <div class="col text-right  ">
<button class="btn btn-default btn-dark paste">Paste</button>
    </div>
</div>
</div>
<p :class="{'text-danger': hasError}">Total Word Count: {{remainingCount}}</p>
</div>
</div>
</template>
<script>
export default {
    props:{
        question:{type:Object}
    },
    data(){
        return{
            sst_answer:"",
            maxCount: 70,
            remainingCount: 0,
            hasError: false
        }
    },
    methods:{
       countWord: function () {
                this.remainingCount = (this.sst_answer.trim().split(/\s+/).length > 0) ? this.sst_answer.trim()
                    .split(/\s+/).length : 0;
                this.hasError = (this.remainingCount > 70) ? true : false;;
        },
    }

}
</script>

<style>

</style>
