<template>
<div class="col">
<div class="writting-dictation">
<div class="wd mb-2 ">
<textarea rows="10" class="form-control" name="wdss_answer" v-model="wd_answer" v-on:keyup="countWord" cols="12"></textarea>
<div class="row mt-3">
    <div class="col">
<button class="btn btn-default btn-dark cut">Cut</button>
    </div>
    <div class="col text-center">
<button class="btn btn-default btn-dark copy">Copy</button>
    </div>
    <div class="col text-right  ">
<button class="btn btn-default btn-dark paste">Paste</button>
    </div>
</div>
</div>
<p>Total Word Count: {{count}}</p>
</div>
</div>
</template>

<script>
export default {
    props:{
        question:{type:Object}
    },
    data(){
        return{
            wd_answer:"",
            maxCount: 70,
            count: 0,
            hasError: false
        }
    },
    methods:{
       countWord: function () {
           if(this.wd_answer.length ===0){
               this.count=0;
               return;
           }
                this.count = (this.wd_answer.trim().split(/\s+/).length > 0) ? this.wd_answer.trim()
                    .split(/\s+/).length : 0;
        },
    }

}
</script>

<style scoped>
button:first-child{margin:0}
button.cut{
    margin:0 !important
}


</style>
