<template>
  <div :class="{'hidden': loading}">
        <form role="form" id="writeQuestionSet">
          <div>
              <div class="col-12">
                  <div class="heading">
                      <h3>{{question.set_name}} : {{question.category_name}} - {{question.qtype}}</h3>
                  </div>
                  <div class="pages">
                      <bpc-set-time :total-time=question.total_time :remain-time=totalTiming></bpc-set-time>
                      <span class="btn btn-warning">{{$route.params.question}} of {{totalQuestions}}</span>
                  </div>
                  <div class="clearfix"></div>
                  <div class="additional_note">
                      <p class='text-capitalize'>{{question.additional_note}}</p>
                  </div>
                  <div class="row">
                      <div class="col-6" v-if="question.summary">
                          <p>{{question.summary}}</p>
                      </div>
                      
                  </div>
              </div>
              <div class="card mx-5">
                <div class="card-body">
                  <div class="col-10 offset-1 question" v-html="question.question"></div>
                  <div class="col-10 offset-1 answer">
                      <textarea class="form-control" v-model="answer" @paste.prevent name="wdss_answer" id="answer" :rows="isEssay?13:3"></textarea>
                  </div>
                  <div class="col-10 offset-1">
                    <div class="word-count">
                        <span v-text="count+' words'"></span>
                    </div>
                    <div class="ui-options" v-if="isSummary">
                      <button class="btn btn-secondary" role="button" @click.prevent="cutText" name="cut" id="cut">Cut</button>
                      <button class="btn btn-secondary" role="button" @click.prevent="copyText" name="copy" id="copy">Copy</button>
                      <button class="btn btn-secondary" role="button" @click.prevent="pasteText" name="paste" id="paste" >Paste</button>
                    </div>
                  </div>
                </div>
              </div>

          </div>
            <input type="hidden" name="test_id" :value="question.set_id">
            <input type="hidden" name="section_id" :value="question.id">
            <input type="hidden" name="sub_section_id" :value="question.question_type_id">
            <input type="hidden" name="question_id" :value="nextPage">
            <input type="hidden" name="time_spent" :value="countDown">
        </form>
        <div class="test_content_body">
        <div class="body_lower fixed-div exam-footer mt-0">
            <div class="buttons_div">
                <ul>
                    <li>
                        <a :href="`/pte/exam/set/${set_id}/question/${nextPage}`" class="btn btn-primary float-right mb-5" @click.prevent="handleFormSubmit($event)">Next</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
  import RemainTimer from "./../../../components/RemainingTime.vue"
  export default {
    props: {
            loading: {
                type: Boolean
            },
            question: {
                type: Object
            },
            set_id: {
                type: String
            },
            nextPage: {
                type: String
            },
            totalTime: {
                type: Number
            },
            timeTaken: {
                type: Number
            },
            totalQuestions: {
                type: Number
            },
    },
    components:{
        'bpc-set-time': RemainTimer
    },
    data() {
        return {
            totalTiming: this.totalTime,
            sst_answer: "",
            setTimer: null,
            maxCount: 70,
            remainingCount: 0,
            setTime: 3,
            hasError: false,
            count:0,
            answer:'',
            clipBoard:'',
            boardParent:{},
            timer:'',
            timetaken : this.timeTaken
        }
    },
    watch: {
        answer: 'countWord'
    },
    computed: {
        countDown: function () {
            return this.setTime;
        },
        isSummary: function(){return this.question.slug === 'swt';},
        isEssay: function(){return this.question.slug === 'essay';},
    },
    mounted() {
        this.timer = setInterval(()=>{
            this.timetaken++;
        },1000);
    },
    methods: {
        copyText(){
            const selection = window.getSelection();
            this.clipBoard = selection.toString();
            this.boardParent = selection.focusNode.parentElement.parentElement;
            selection.removeAllRanges();
        },
        pasteText(){
            try{
                if(this.boardParent.classList.contains('question') ||this.boardParent.classList.contains('answer') ){
                    let textarea = document.getElementById('answer');
                    let start = textarea.selectionStart;
                    let current = textarea.value;
                    textarea.value = current.slice(0,start) +this.clipBoard+ current.slice(start);
                    this.answer= textarea.value;
                    this.clipBoard = '';
                    this.boardParent = '';
                    }else{
                return false;
                }
            } catch(error){
               console.error(error) 
            }
            
        },
        cutText(){
            let textarea = document.getElementById('answer');
            let start = textarea.selectionStart;
            let end = textarea.selectionEnd;
            this.clipBoard = window.getSelection().toString();            
            this.boardParent = window.getSelection().anchorNode;

            textarea.value = textarea.value.substr(0,start)+textarea.value.substr(end);
        },
        countWord(){
            if(this.answer.length===0){ 
                this.count = 0;
                return;
                }
            this.count =  (this.answer.trim().split(/\s+/).length > 0) ? this.answer.trim().split(/\s+/).length : 0;
        },
        startTimer: function () {
            if (!this.setTimer) {
                this.setTimer = setInterval(() => {
                    if (this.setTime > 0) {
                        this.setTime--;
                    } else {
                        clearInterval(this.setTimer)
                        this.setTimer = null;
                        this.$eventBus.$emit('auto-play-back');
                        this.setTime = 0
                    }
                }, 1000)
            }
        },
        userAnswered(next, set, qid){            
            this.$eventBus.$emit('answered',{next,set,qid});
        },
        nextQuestion(){
            this.userAnswered(this.nextPage, this.set_id, this.question.id);
            if(this.nextPage.length>0)
            window.location=`/pte/exam/set/${this.set_id}/question/${this.nextPage}`
            else
            window.location=`/exam/feedback/${this.set_id}`;
        },
        handleFormSubmit(e){
            let url=$(e.target).attr('href');
            var data = document.getElementById('writeQuestionSet');
            var formData = new FormData(data);
            clearInterval(this.timer);
            formData.append('time_taken',this.timetaken);
            
            axios.post('/api/saveReadQuestion',formData).then((res)=>{
                this.nextQuestion();
            }).catch(()=>{

            })
        },

    },
  }
</script>

<style scoped>
.question >>> p{
  font-size: 1rem;
  text-align: justify;
}
.ui-options{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.75rem 0;
}
</style>