// Color Schemas
$primary-color: #1e407f;
$secondary-color: #f16e26;
$grey-color: #959596; 
$light-grey-color: #f5f2f2;
$dark-grey-color: #495057;
$white-color: #ffffff;
$black-color: #000000;
$text-color-primary:#1c3a76;
// font schemas
$primary-font: 'din_condensed', sans-serif; 
 