@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import "style.scss";
.form-group {
    position: relative;
    &.has-errors {
        input {
            border: 1px solid #fa4531;
        }
        small {
            position: absolute;
            background: darkred;
            padding: 7px;
            font-size: 13px;
            top: -5px;
            right: 0;
            z-index: 10;
            color: #ffffff;
            background: rgb(200, 53, 53);
            box-shadow: 0 6px 2px -2px rgba(211, 77, 77, 0.47);
            &:after {
                content: '';
                width: 0;
                height: 0;
                top: 37px;
                position: absolute;
                left: 6px;
                border-left: 5px solid rgba(0, 0, 0, 0);
                border-right: 5px solid rgba(0, 0, 0, 0);
                border-top: 5px solid #c83535;
            }
        }
    }
    .select2-container {
        .select2-selection--single {
            height: 42px !important;
            .select2-selection__rendered {
                color: #444;
                line-height: 39px !important;
            }
        }
    }
}