@font-face {
    font-family: 'din_condensed';
    src: url("../fonts/D-DINCondensed.otf") format("opentype"), url("../fonts/D-DINCondensed-Bold.otf") format("opentype"), url("../fonts/DINCondensed-Bold.ttf") format("truetype");
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: $white-color;
    color: $black-color;
    font-size: 14px;
    font-family: $primary-font;
    font-weight: 400;
    line-height: 1.8;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.bg-main {
    background: #dde7ff;
}

p {
    margin-bottom: 0px!important;
}

.clear {
    clear: both;
}

.block {
    display: block!important;
}

.hide {
    display: none;
}

.inline-block {
    display: inline-block;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.div-center {
    display: table;
    margin: 0 auto;
    float: none !important;
}

.m-0 {
    margin: 0px!important;
}

.m-t-0 {
    margin-top: 0px!important;
}

.m-t-10 {
    margin-top: 10px!important;
}

.m-t-15 {
    margin-top: 15px!important;
}

.m-t-20 {
    margin-top: 20px!important;
}

.m-t-25 {
    margin-top: 25px!important;
}

.m-t-30 {
    margin-top: 30px!important;
}

.m-t-40 {
    margin-top: 40px!important;
}

.m-t-50 {
    margin-top: 50px!important;
}

.m-r-0 {
    margin-right: 0px!important;
}

.m-r-10 {
    margin-right: 10px!important;
}

.m-r-15 {
    margin-right: 15px!important;
}

.m-r-20 {
    margin-right: 20px!important;
}

.m-r-25 {
    margin-right: 25px!important;
}

.m-r-30 {
    margin-right: 30px!important;
}

.m-b-0 {
    margin-bottom: 0px!important;
}

.m-b-10 {
    margin-bottom: 10px!important;
}

.m-b-15 {
    margin-bottom: 15px!important;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.m-b-25 {
    margin-bottom: 25px!important;
}

.m-b-30 {
    margin-bottom: 30px!important;
}

.m-l-0 {
    margin-left: 0px!important;
}

.m-l-10 {
    margin-left: 10px!important;
}

.m-l-15 {
    margin-left: 15px!important;
}

.m-l-20 {
    margin-left: 20px!important;
}

.m-l-25 {
    margin-left: 25px!important;
}

.m-l-30 {
    margin-left: 30px!important;
}

.m-t-b-0 {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.m-t-b-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-t-b-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-t-b-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-t-b-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.m-l-r-0 {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.m-l-r-10 {
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.m-l-r-15 {
    margin-left: 15px!important;
    margin-right: 15px!important;
}

.m-l-r-20 {
    margin-left: 20px!important;
    margin-right: 20px!important;
}

.m-l-r-30 {
    margin-left: 30px!important;
    margin-right: 30px!important;
}

.p-0 {
    padding: 0px!important;
}

.p-t-0 {
    padding-top: 0px!important;
}

.p-t-10 {
    padding-top: 10px!important;
}

.p-t-15 {
    padding-top: 15px!important;
}

.p-t-20 {
    padding-top: 20px!important;
}

.p-t-25 {
    padding-top: 25px!important;
}

.p-t-30 {
    padding-top: 30px!important;
}

.p-t-40 {
    padding-top: 40px!important;
}

.p-b-0 {
    padding-bottom: 0px!important;
}

.p-b-10 {
    padding-bottom: 10px!important;
}

.p-b-15 {
    padding-bottom: 15px!important;
}

.p-b-20 {
    padding-bottom: 20px!important;
}

.p-b-25 {
    padding-bottom: 25px!important;
}

.p-b-30 {
    padding-bottom: 30px!important;
}

.p-b-40 {
    padding-bottom: 40px!important;
}

.p-t-b-0 {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.p-t-b-10 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.p-t-b-20 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.p-t-b-30 {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.p-t-b-40 {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
}

.p-l-r-0 {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.p-l-r-10 {
    padding-right: 10px!important;
    padding-left: 10px!important;
}

.p-l-r-20 {
    padding-right: 20px!important;
    padding-left: 20px!important;
}

.p-l-r-30 {
    padding-right: 30px!important;
    padding-left: 30px!important;
}

.b-b-grey {
    border-bottom: 1px solid #cacaca;
}

.b-b-white {
    border-bottom: 1px solid #fff;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

.transparent-btn {
    color: $white-color;
    text-transform: uppercase;
    transition: 0.8s;
    background: #ff060600;
    border: 1px solid #fff;
}

.bg-grey {
    background-color: $light-grey-color;
}

// input,
// select {
//     font-size: 16px!important;
//     color: $dark-grey-color!important;
//     border-radius: 3px!important;
//     height: 40px!important;
// }
li {
    list-style: none!important;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

h2.title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    text-transform: uppercase;
    &::after {
        content: "";
        width: 100px;
        height: 4px;
        background-color: #fae92b;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
    }
}

.b-r-1 {
    border-right: 1px solid $grey-color;
}

.mbl-hide {
    @media (max-width: 991px) {
        display: none;
    }
}

.mbl-show-logo {
    display: none;
    @media (max-width: 991px) {
        display: block;
        background-color: $white-color;
        padding: 10px 0px;
        margin-bottom: 5px;
        img {
            margin: 0px auto;
            display: block;
            width: 100px;
        }
    }
}


/*---- Gobal setting css ----*/

.gmail-facebook-sign {
    margin: 5px 0px;
    .btn-gmail {
        cursor: pointer;
        height: 40px;
        background-color: $white-color;
        border-radius: 3px;
        width: 100%;
        margin-bottom: 15px;
        font-size: 18px;
        color: $primary-color;
        display: block;
        text-align: center;
        img {
            float: left;
            margin: 5px 14px;
        }
    }
    .btn-facebook {
        height: 40px;
        cursor: pointer;
        background-color: $white-color;
        border-radius: 3px;
        width: 100%;
        font-size: 18px;
        color: $primary-color;
        display: block;
        text-align: center;
        i {
            float: left;
            margin: 5px 14px;
            font-size: 30px;
            color: $primary-color;
        }
    }
}

.form-group {
    margin-bottom: 5px;
    label {
        color: $white-color;
        font-size: 20px;
        margin-bottom: 5px;
        font-family: $primary-font;
    }
    .form-control {
        border-radius: 3px !important;
        &:focus {
            color: #495057;
            border-color: #fff;
            outline: 0;
            box-shadow: none;
        }
    }
    select {
        &:focus {
            border-color: #fff !important;
            outline: 0;
            box-shadow: none !important;
        }
    }
}

.btn-hover-gradient {
    cursor: pointer;
    background: linear-gradient(to right, #e27031, #ff5e1a);
    transition: background-color 0.5s ease;
}

.btn-hover-gradient:hover {
    background-color: #ff5e1a;
}

.btn-unlock,
.btn-resume,
.btn-start,
.btn-checkout,
.btn-closed {
    background: transparent;
    font-weight: 900;
    border: 2px solid #010005;
    display: block;
    border-radius: 0px;
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    .far,
    .fas {
        margin-right: 5px;
    }
    &:hover {
        border-color: #fff;
        color: #fff;
    }
}

.btn-unlock {
    border-color: #1d3b83;
    color: #1d3b83;
}

.btn-checkout {
    border-color: #229b22;
    color: #229b22;
}

.btn-resume {
    color: #010005
}

.btn-start {
    border-color: #e56f32;
    color: #e56f32;
    &:hover {
        border-color: #fff;
        color: #fff;
    }
}

.btn-closed {
    border-color: #959398;
    color: #959398;
}


/* -------------------695-- Login css starts ------------------ */

.login-section {
    .login-left-img {
        height: calc(100vh);
        min-height: calc(100vh);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        img {
            position: absolute;
            top: 10px;
            left: 45%;
        }
    }
    .login-right-form {
        padding: 80px 0px 60px 0px;
        background: #34589b;
        background: -moz-linear-gradient(left, #34589b 0%, #1e407f 100%);
        background: -webkit-linear-gradient(left, #34589b 0%, #1e407f 100%);
        background: linear-gradient(to right, #34589b 0%, #1e407f 100%);
        width: 100%;
        height: calc(100vh);
        min-height: calc(100vh);
        .login-title {
            text-align: center;
            h1 {
                color: $white-color;
                font-size: 45px;
                font-weight: bold!important;
                margin-bottom: 0px;
                @media (max-width: 768px) {
                    font-size: 35px;
                }
                @media (max-width: 576px) {
                    font-size: 30px;
                }
            }
            img {
                margin-top: -5px;
            }
        }
        .mx-auto {
            width: 65%;
            .login-form {
                .btn-login {
                    width: 100%;
                    height: 40px;
                    margin: 0px auto!important;
                    text-align: center;
                    display: block;
                    color: $white-color;
                    background-color: $secondary-color;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 0.9px;
                    border-radius: 3px;
                    padding: 0px;
                    margin-top: 20px!important;
                }
            }
            .forgot-pass-a {
                font-size: 22px;
                color: $white-color;
                text-align: center;
                display: block;
                margin-top: 10px;
                font-family: $primary-font!important;
                &:hover {
                    color: $secondary-color;
                    text-decoration: none;
                }
            }
            .modal-content {
                background: #34589b;
                background: -moz-linear-gradient(left, #1e407f 100%, #34589b 0%);
                background: -webkit-linear-gradient(left, #1e407f 100%, #34589b 0%);
                background: linear-gradient(to right, #1e407f 100%, #34589b 0%);
                .close {
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    background: #fff;
                    padding: 10px;
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                    opacity: 1;
                    span {
                        text-align: center;
                        margin: 0px;
                        top: -8px;
                        position: absolute;
                        left: 6px;
                        font-size: 35px;
                        color: #1e4483;
                    }
                }
                .modal-body {
                    h3 {
                        text-align: center;
                        color: $white-color;
                        font-weight: 600;
                        font-size: 32px;
                        letter-spacing: 0.9px;
                        margin-bottom: 20px;
                        i {
                            margin-right: 15px;
                        }
                    }
                    P {
                        &.success {
                            display: flex;
                            justify-content: center;
                            color: #ef5a18;
                            padding: 2px;
                        }
                    }
                    .form-group {
                        input {
                            // background-color: transparent!important;
                            // border: 1px solid $white-color;
                            // width: 350px;
                            // margin: 0px auto;
                            // height: 55px !important;
                            // color: #fff !important;
                            &::placeholder {
                                color: $white-color!important;
                            }
                        }
                    }
                    .forgetpass {
                        .send-email {
                            display: block;
                            margin: 0px auto;
                            padding: 10px;
                            width: 35%;
                            border-radius: 3px;
                            margin-top: 20px;
                            font-size: 20px;
                            text-transform: capitalize;
                        }
                        a {
                            display: flex;
                            align-items: center;
                            font-size: 15px;
                            justify-content: center;
                            color: #fff;
                        }
                    }
                }
            }
            .or-line {
                @media (max-width: 991px) {
                    display: none;
                }
                .hr-or-1 {
                    border-top: 1px solid $white-color !important;
                    float: left;
                    width: 43%;
                    margin-top: 18px;
                }
                .hr-or-2 {
                    border-top: 1px solid $white-color !important;
                    float: right;
                    width: 43%;
                    margin-top: 18px;
                }
                span {
                    color: $white-color;
                    font-size: 22px;
                    margin: 0px 13px;
                }
            }
            .signup-account-p {
                text-align: center;
                color: $white-color;
                font-size: 18px;
                a {
                    font-size: 20px;
                    color: $white-color;
                    margin-left: 5px;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}


/* --------------------- Login css ends ------------------ */


/* --------------------- Register css starts ------------------ */

.register-section {
    .register-left-img {
        height: 100vh;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        img {
            position: absolute;
            top: 10px;
            left: 45%;
        }
    }
    .register-right-form {
        padding: 20px;
        background: #34589b;
        background: -moz-linear-gradient(left, #34589b 0%, #1e407f 100%);
        background: -webkit-linear-gradient(left, #34589b 0%, #1e407f 100%);
        background: linear-gradient(to right, #34589b 0%, #1e407f 100%);
        height: 100vh;
        min-height: 100vh;
        width: 100%;
        .register-title {
            text-align: center;
            h1 {
                color: $white-color;
                font-size: 35px;
                font-weight: bold!important;
                margin-bottom: 0px;
                text-transform: uppercase;
                @media (max-width: 768px) {
                    font-size: 30px;
                }
                @media (max-width: 576px) {
                    font-size: 25px;
                }
            }
            img {
                margin-top: -5px;
            }
        }
        .mx-auto {
            width: 65%;
            .register-form {
                margin-top: 20px;
                margin-bottom: 10px;
                .form-group {
                    margin-bottom: 5px;
                    label {
                        color: $white-color;
                        font-size: 18px;
                    }
                }
                .btn-register {
                    cursor: pointer;
                    width: 100%;
                    height: 40px;
                    margin: 0px auto !important;
                    text-align: center;
                    display: block;
                    color: #ffffff;
                    background-color: #f16e26;
                    font-size: 19px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.9px;
                    border-radius: 3px;
                    padding: 0px;
                    margin-top: 8px !important;
                }
            }
            .or-line {
                @media (max-width: 991px) {
                    display: none;
                }
                .hr-or-1 {
                    border-top: 1px solid $white-color!important;
                    float: left;
                    width: 43%;
                    margin-top: 18px;
                }
                .hr-or-2 {
                    border-top: 1px solid $white-color!important;
                    float: right;
                    width: 43%;
                    margin-top: 18px;
                }
                span {
                    color: $white-color;
                    font-size: 22px;
                    margin: 0px 13px;
                }
            }
            .signup-account-p {
                text-align: center;
                color: $white-color;
                font-size: 18px;
                a {
                    font-size: 20px;
                    color: $white-color;
                    margin-left: 5px;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}


/* --------------------- Register css ends ------------------ */


/* --------------------- Navbar Css ------------------ */

.navbar {
    padding: 0px;
    .dash-h1 {
        text-transform: uppercase;
        color: $text-color-primary;
        font-weight: 700;
    }
    .navbar-brand {
        margin-left: 20px;
    }
    .user-image {
        width: 58px;
        height: 60px;
        background-size: cover !important;
    }
    .user-dropdown {
        background: #34589b;
        background: -moz-linear-gradient(left, #34589b 0%, #1e407f 100%);
        background: -webkit-linear-gradient(left, #34589b 0%, #1e407f 100%);
        background: linear-gradient(to right, #34589b 0%, #1e407f 100%);
        font-size: 14px;
        padding: 5px;
        .dropdown-toggle {
            color: #fff;
            font-size: 19px;
        }
        .dropdown-menu {
            position: absolute;
            top: 55px;
            left: -63px;
            border-radius: 0px;
            min-width: 12.9rem;
            border: 0px;
            box-shadow: 0px 1px 3px 0px #a0a0a0;
        }
    }
    .nav-link {
        &:hover {
            color: rgba(241, 241, 241, 0.7) !important;
        }
    }
    &.bg-light {
        background-color: #fff !important;
    }
}

//Choose Category css
.choose-category {
    position: relative;
    .heading {
        padding-top: 120px;
        h2 {
            color: #f26d28;
            font-weight: bolder;
        }
        .seperator {
            display: block;
        }
    }
    .cat-boxes {
        width: 75%;
        margin: 50px auto;
        .cat-box {
            position: relative;
            width: 250px;
            height: 250px;
            background: #34589b;
            background: -moz-linear-gradient(left, #34589b 0%, #1e407f 100%);
            background: -webkit-linear-gradient(left, #34589b 0%, #1e407f 100%);
            background: linear-gradient(to right, #34589b 0%, #1e407f 100%);
            display: block;
            text-align: center;
            border-radius: 50%;
            a {
                position: absolute;
                bottom: 91px;
                font-size: 42px;
                font-weight: bold;
                color: #fff;
                right: 93px;
            }
        }
    }
}

//Dashboard css
.wrapper {
    position: relative;
    .content-wrapper {
        margin-left: 124px;
        @media only screen and (min-width: 321px) and (max-width: 786px) {
            margin-left: 0px;
        }
        .tab-content {
            background: #fff;
        }
    }
    .main-sidebar {
        width: 200px;
        float: left;
        .sidebar {
            a {
                text-align: center;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border: none;
                &.active {
                    background: linear-gradient(to right, #e27031, #ff5e1a);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0px;
                }
            }
            img {
                margin: 0 auto;
                display: block;
            }
            @media only screen and (min-width: 321px) and (max-width: 786px) {
                .list-group {
                    display: none;
                }
                .list-group-horizontal {
                    display: block;
                    margin: 0 21px;
                    .list-group-item {
                        padding: 0px 7px;
                        margin-right: 4px;
                        img {
                            width: 70px;
                        }
                        h5 {
                            font-size: 16px;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
        @media only screen and (min-width: 321px) and (max-width: 786px) {
            float: none;
            width: 100%;
        }
    }
    .dashboard {
        .speaking,
        .reading,
        .listening,
        .writting,
        .scoredmock,
        .fullmock {
            padding-top: 15px;
            padding-bottom: 15px;
            .speaking-test {
                background: #dde7ff;
                border-radius: 10px;
                margin: 10px 15px;
                text-align: center;
                padding: 20px;
                box-shadow: 0px 3px 2px 1px #dee3dc;
                h4 {
                    font-size: 25px;
                    font-weight: bold;
                }
                span {
                    font-size: 16px;
                    color: #959398
                }
            }
            .scored-test {
                background: #dde7ff;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                margin: 5px 15px;
                text-align: center;
                padding: 20px;
            }
            .duration {
                float: left;
                background: #dde7ff;
                margin: 0px 5px 0px 15px;
                text-align: center;
                padding: 20px;
                border-bottom-left-radius: 10px;
                display: block;
            }
            .score-mock-link {
                background: #dde7ff;
                border-bottom-right-radius: 10px;
                float: left;
                width: 158px;
                .btn-unlock,
                .btn-resume,
                .btn-start,
                .btn-closed {
                    margin: 8px auto;
                    padding: 7px;
                    width: 80%;
                }
            }
        }
        .nav-pills {
            .nav-item {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                background: #34589b;
                background: -moz-linear-gradient(left, #34589b 0%, #1e407f 100%);
                background: -webkit-linear-gradient(left, #34589b 0%, #1e407f 100%);
                background: linear-gradient(to right, #34589b 0%, #1e407f 100%);
                font-size: 17px;
                margin-right: 5px;
                width: auto;
                text-align: center;
                .nav-link {
                    color: #fff;
                    font-weight: 800;
                    text-transform: uppercase;
                    &.active {
                        color: #fff;
                        background: linear-gradient(to right, #e27031, #ff5e1a);
                        border-bottom-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }
                }
            }
        }
    }
}

.list-group-item {
    margin-bottom: 10px;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
    border-right-width: 0;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-right-width: 1px;
}

//Footer css
.footer-section {
    flex-shrink: 0;
    background: #fff;
    margin-top: 20px;
    p {
        font-size: 15px;
        color: $text-color-primary;
        margin-top: 10px;
        span {
            text-transform: uppercase;
        }
    }
}

.fixFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.main {
    flex: 1 0 auto;
    min-height: calc(100vh - 100px);
    padding: 30px 0px 0 0px;
}