<template>
    <div>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <div class="text-center text-info" id="bgnTm">Audio will begin in {{$parent.countDown}} seconds</div>
                    <div class="jp-progress">
                        <div class="jp-play-bar" style="width: 0%;"></div>
                    </div>
                    <div class="jp-volume-controls"><button class="jp-mute" role="button"
                            tabindex="0">mute</button><button class="jp-volume-max" role="button" tabindex="0">max
                            volume</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder">
                        <div class="jp-current-time" role="timer" aria-label="time" style="font-size:18px;">&nbsp;
                        </div>
                        <div class="jp-duration" role="timer" aria-label="duration" style="font-size:18px;">&nbsp;

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['mediaFile'],
        mounted() {
            
            this.$parent.startTimer();
            let self=this;
            let file=this.$parent.baseUrl+this.mediaFile;
            $("#jquery_jplayer_1").jPlayer({
                    ready: function (event) {
                            $(this).jPlayer("setMedia", {
                                    title: "Player",
                                     m4a:file,
                                }
                            );
                        },
                    swfPath: this.$parent.baseUrl + "/dist/jplayer",
                    supplied: "m4a,mp3,oga",
                    wmode: "window",
                    useStateClassSkin: true,
                    autoBlur: false,
                    smoothPlayBar: true,
                    keyEnabled: true,
                    remainingDuration: true,
                    toggleDuration: true,
                    loadeddata: function(event){ // calls after setting the song duration
                      let duration=event.jPlayer.status.duration;
                      self.$eventBus.$emit('file-duration',duration)
                    },
                    ended: function () {
                        $('#bgnTm').text("Completed");
                    }

                }

            );
        },

       

    }

</script>
<style></style>
